# COPREHENSIONS

- Lists
- Dictionaries
- Tuples

## List comprehesions

syntax:
- [expression for item in iterable if condition]
- [expression1 if condition else expression2 for item in iterable]

In [1]:
# Squaring a number
n = [1,2,3,4]
sq =[]
for i in n:
    sq.append(i**2)
sq
# In the above program we can observe more lines are used to execute the program. 
# The same program is executed in a smarter way in the below cell

[1, 4, 9, 16]

In [2]:
# Using LIST comprehension
result = [i**2 for i in range(1,5)]
result

[1, 4, 9, 16]

In [6]:
# Fuction to determine a number is odd or even
def evenodd(num):
    if num % 2 == 0:
        check.append("Even")
    else:
        check.append("Odd")
check =[]        
number = [1,2,3,4,5,6,7,8,9,10]
for i in number:
    evenodd(i)
check
# In the above program we can observe more lines are used to execute the program. 
# The same program is executed in a smarter way in the below cell

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [8]:
# Using LIST comprehension
number = [1,2,3,4,5,6,7,8,9,10]
result = ["Even" if i %2 == 0 else "Odd" for i in number]
result

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [21]:
s = "APSSDC"
res = [letter for letter in s]
res

['A', 'P', 'S', 'S', 'D', 'C']

In [13]:
# Print all letters in the given word in lowercase
s = "APSSDC"
res = [letter.lower() for letter in s]
res
# remember some string fuctions like isupper(), islower(), isdigit(), isalpha() and upper(),lower(),swapcase()

['a', 'p', 's', 's', 'd', 'c']

In [15]:
# Print even or odd by checking them in the range of 1 to 10
res = ['EVEN' if i % 2 == 0 else 'ODD' for i in range(1,10)]
res

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [16]:
res = [i**2 if i%2 == 0 else i**3 for i in range(1,10)]
res

[1, 4, 27, 16, 125, 36, 343, 64, 729]

In [26]:
# to print all the sentences in the given paragraph
para = ['There is a mountain', 'Climb it or dont climb it', 'decide yourself']
for sentence in para:
    print(sentence)

There is a mountain
Climb it or dont climb it
decide yourself

In [27]:
# to print all the words in the given paragraph
para = ['There is a mountain', 'Climb it or dont climb it', 'decide yourself']
for sentence in para:
    for word in sentence.split():
        print(word)

There
is
a
mountain
Climb
it
or
dont
climb
it
decide
yourself

In [28]:
# to print all the letters in the given paragraph
para = ['There is a mountain', 'Climb it or dont climb it', 'decide yourself']
for sentence in para:
    for letter in sentence:
        print(letter)

T
h
e
r
e

i
s

a

m
o
u
n
t
a
i
n
C
l
i
m
b

i
t

o
r

d
o
n
t

c
l
i
m
b

i
t
d
e
c
i
d
e

y
o
u
r
s
e
l
f

In [29]:
# Another method
para = ['There is a mountain', 'Climb it or dont climb it', 'decide yourself']
for sentence in para:
    for word in sentence.split():
        for letter in word:
            print(letter)

T
h
e
r
e
i
s
a
m
o
u
n
t
a
i
n
C
l
i
m
b
i
t
o
r
d
o
n
t
c
l
i
m
b
i
t
d
e
c
i
d
e
y
o
u
r
s
e
l
f

In [35]:
# To print all the words in the given paragraph
para = ['There is a mountain', 'Climb it or dont climb it', 'decide yourself']
wordslist =[]
for sentence in para:
    for word in sentence.split():
        wordslist.append(word)
print(wordslist)

['There', 'is', 'a', 'mountain', 'Climb', 'it', 'or', 'dont', 'climb', 'it', 'decide', 'yourself']

In [31]:
# Using list comprehension
para = ['There is a mountain', 'Climb it or dont climb it', 'decide yourself']
res = [word for sentence in para for word in sentence.split()]
print(res)

['There', 'is', 'a', 'mountain', 'Climb', 'it', 'or', 'dont', 'climb', 'it', 'decide', 'yourself']

In [38]:
# To call a function
def cube(n):
    return n**3
li = [1,2,4,6,35,23,7]
n = [cube(i) for i in li]
print(n)

[1, 8, 64, 216, 42875, 12167, 343]

In [42]:
# read the numberds in the given input and return sum of them
s = '183ndsl32783mslfj'
sum1 = sum([int(i) for i in s if i.isdigit()])
print(sum1)

35

In [52]:
# to print all the names starts with letter "m"
names = ['bhanu prasanna kumar neeli','mohan','rajesh','sumana','uma','mahesh']
[i for i in names if i.startswith('m')]

['mohan', 'mahesh']

In [50]:
# to print all the names ends with letter "m"
[i for i in names if i.endswith('h')]

['rajesh', 'mahesh']

In [51]:
# to print all the names in capitalise format
[i.capitalize() for i in names]

['Bhanu', 'Mohan', 'Rajesh', 'Sumana', 'Uma', 'Mahesh']

In [53]:
# to print all the names in title format
[i.title() for i in names]

['Bhanu Prasanna Kumar Neeli', 'Mohan', 'Rajesh', 'Sumana', 'Uma', 'Mahesh']

In [55]:
# to print all the names whose size is 5
[i for i in names if len(i)==5]

['mohan']

In [61]:
# to print all the words starting with "i" or "I" in a string in list format
sentence = "India is my country"
[i for i in sentence.split() if (i.startswith('i') or i.startswith('I'))]

['India', 'is']

In [66]:
# to print all the words starting with "i" or "I" in a string in string format
sentence = "India is my country"
" ".join([i for i in sentence.split() if (i.startswith('i') or i.startswith('I'))])

'India is'

## Dictionary comprehension

In [67]:
d = {'key1':'value1','key2':'value2','key3':'value3'}

In [68]:
print(d['key2'])

value2

In [74]:
# square of number
res = {i:i**2 for i in range(1,6)}
print(res)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [75]:
# print sqare of even numbers in the given range
res = {i:i**2 for i in range(1,6) if i%2 ==0}
print(res)

{2: 4, 4: 16}

In [77]:
# to print a dictionary by reading keys in one list and values in another list
number = [1,2,3,4,5,6]
text = ['one','two','three','four','five','six']
res = {k:v for k,v in zip(number,text)}
print(res)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [80]:
# Task
# to print words corresponding to alphabets A-E
order = ['apple','ball','cat','doll','elephant']
{i[0].upper():i.capitalize() for i in order}

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Doll', 'E': 'Elephant'}

## Tuple Comprehension

In [83]:
res = tuple(i**2 for i in range(1,10)) #same as list comprehension and dictionary comjpresion but we have to mention tuple
res

(1, 4, 9, 16, 25, 36, 49, 64, 81)

In [84]:
# slicing
tuple(i**2 for i in range(1,10))[::2]

(1, 9, 25, 49, 81)